body {
    padding: 2rem;
}

p {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(211, 208, 194, 0.56);
    width: 75%;
    inline-size: 75%;
    overflow-wrap: break-word;

    opacity: 100;
    transition: all 0.3s;
}

p.in{
    opacity: 0;
}

button{
    margin-right: 1rem;
}

.buttons-group {
    display: flex;
    margin-top: 1rem;
}

#received-messages{
    overflow: scroll;
    height: 80vh;
}